workflows/n8n/agent_network_diagnostics.json
{
  "name": "Network Diagnostics",
  "nodes": [
    {
      "id": "de9ef299-d390-4e29-a952-ec8baca3f77f",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        260,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "chat/network-diagnostics",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "ae9212d9-5f45-4c43-88d4-11105d45d985",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        560,
        300
      ],
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "={{ $json.body?.message || $json.message || $json.body?.text || 'Hello' }}",
        "options": {
          "systemMessage": "You are a network diagnostics AI. Analyze network connectivity issues, DNS problems, latency, and configuration errors. Provide clear diagnosis and remediation steps."
        }
      }
    },
    {
      "id": "b8b4315d-5ad3-4a6a-8c4c-e43b28026d4b",
      "name": "OpenRouter Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        560,
        540
      ],
      "parameters": {
        "model": "google/gemini-2.0-flash-exp:free",
        "options": {
          "maxTokens": 1500,
          "temperature": 0.3
        }
      },
      "credentials": {
        "openRouterApi": {
          "id": "9a8L86PX0yHKHdfY",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "id": "f84bd114-5e96-4bee-b8d5-3a50f36498aa",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        860,
        300
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ response: $json.output || $json.text || $json, model: \"google/gemini-2.0-flash-exp:free\", tier: 0, workspace: \"infra\", agent: \"network_diagnostics\" }) }}",
        "options": {
          "responseCode": 200
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": []
}