workflows/n8n/agent_resource_monitor.json
{
  "name": "Resource Monitor",
  "nodes": [
    {
      "parameters": {
        "path": "chat/resource-monitor",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Chat Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "webhookId": ""
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "={ $json.message }",
        "options": {
          "systemMessage": "You are a resource monitor specialist. Monitor system resources. Use the available tools to complete tasks efficiently."
        }
      },
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "name": "check_cpu",
        "description": "Tool: Check Cpu",
        "workflowId": "={{ $workflow.id }}",
        "fields": {
          "values": []
        },
        "options": {}
      },
      "name": "Tool: check_cpu",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.1,
      "position": [
        250,
        500
      ]
    },
    {
      "parameters": {
        "name": "check_memory",
        "description": "Tool: Check Memory",
        "workflowId": "={{ $workflow.id }}",
        "fields": {
          "values": []
        },
        "options": {}
      },
      "name": "Tool: check_memory",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.1,
      "position": [
        400,
        500
      ]
    },
    {
      "parameters": {
        "name": "check_disk",
        "description": "Tool: Check Disk",
        "workflowId": "={{ $workflow.id }}",
        "fields": {
          "values": []
        },
        "options": {}
      },
      "name": "Tool: check_disk",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.1,
      "position": [
        550,
        500
      ]
    },
    {
      "parameters": {
        "name": "send_alert",
        "description": "Tool: Send Alert",
        "workflowId": "={{ $workflow.id }}",
        "fields": {
          "values": []
        },
        "options": {}
      },
      "name": "Tool: send_alert",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.1,
      "position": [
        700,
        500
      ]
    }
  ],
  "connections": {
    "Chat Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "ai_tool": [
        [
          {
            "node": "Tool: check_cpu",
            "type": "ai_tool",
            "index": 0
          }
        ],
        [
          {
            "node": "Tool: check_memory",
            "type": "ai_tool",
            "index": 0
          }
        ],
        [
          {
            "node": "Tool: check_disk",
            "type": "ai_tool",
            "index": 0
          }
        ],
        [
          {
            "node": "Tool: send_alert",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "AI Agent"
    },
    {
      "name": "VizionAI"
    }
  ],
  "triggerCount": 1,
  "versionId": ""
}