workflows/n8n/agent_resource_monitor.json
{
  "name": "Resource Monitor",
  "nodes": [
    {
      "id": "a48c42c4-d067-4c44-b701-03cc7949029d",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        260,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "chat/resource-monitor",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "1f592172-e843-4acd-9f97-c54ee3d54184",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        560,
        300
      ],
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "={{ $json.body?.message || $json.message || $json.body?.text || 'Hello' }}",
        "options": {
          "systemMessage": "You are a resource monitoring AI. Analyze server metrics (CPU, memory, disk, network). Identify resource bottlenecks and capacity issues. Alert on critical thresholds."
        }
      }
    },
    {
      "id": "c5978bb0-d850-4740-8a05-cb5980d5b5bc",
      "name": "OpenRouter Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        560,
        540
      ],
      "parameters": {
        "model": "google/gemini-2.0-flash-exp:free",
        "options": {
          "maxTokens": 1500,
          "temperature": 0.3
        }
      },
      "credentials": {
        "openRouterApi": {
          "id": "9a8L86PX0yHKHdfY",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "id": "be28c7f0-1b34-45d9-bbd9-9d688e486ede",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        860,
        300
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ response: $json.output || $json.text || $json, model: \"google/gemini-2.0-flash-exp:free\", tier: 0, workspace: \"infra\", agent: \"resource_monitor\" }) }}",
        "options": {
          "responseCode": 200
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": []
}