workflows/n8n/agent_deployment_helper.json
{
  "name": "Deployment Helper",
  "nodes": [
    {
      "parameters": {
        "path": "chat/deployment-helper",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Chat Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "webhookId": ""
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "={ $json.message }",
        "options": {
          "systemMessage": "You are a deployment helper specialist. Assist with deployments. Use the available tools to complete tasks efficiently."
        }
      },
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "name": "pull_image",
        "description": "Tool: Pull Image",
        "workflowId": "={{ $workflow.id }}",
        "fields": {
          "values": []
        },
        "options": {}
      },
      "name": "Tool: pull_image",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.1,
      "position": [
        250,
        500
      ]
    },
    {
      "parameters": {
        "name": "deploy_service",
        "description": "Tool: Deploy Service",
        "workflowId": "={{ $workflow.id }}",
        "fields": {
          "values": []
        },
        "options": {}
      },
      "name": "Tool: deploy_service",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.1,
      "position": [
        400,
        500
      ]
    },
    {
      "parameters": {
        "name": "verify_deployment",
        "description": "Tool: Verify Deployment",
        "workflowId": "={{ $workflow.id }}",
        "fields": {
          "values": []
        },
        "options": {}
      },
      "name": "Tool: verify_deployment",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.1,
      "position": [
        550,
        500
      ]
    }
  ],
  "connections": {
    "Chat Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "ai_tool": [
        [
          {
            "node": "Tool: pull_image",
            "type": "ai_tool",
            "index": 0
          }
        ],
        [
          {
            "node": "Tool: deploy_service",
            "type": "ai_tool",
            "index": 0
          }
        ],
        [
          {
            "node": "Tool: verify_deployment",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "AI Agent"
    },
    {
      "name": "VizionAI"
    }
  ],
  "triggerCount": 1,
  "versionId": ""
}