workflows/n8n/wf_audit_snapshot_daily.json
{
  "name": "wf_audit_snapshot_daily",
  "nodes": [
    {
      "parameters": {"rule": {"interval": [{"field": "cronExpression", "expression": "0 5 * * *"}]}},
      "id": "cron",
      "name": "Daily 05:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {"command": "cd /root/VizionAI/WORKSPACES/vizion-infra && ./scripts/capture_system_state.sh 2>&1 | tail -50"},
      "id": "exec",
      "name": "Capture State",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [480, 300]
    },
    {
      "parameters": {
        "jsCode": "// Build Airtable Signal record from audit output\nconst output = $input.first().json.stdout || $input.first().json.output || '';\nconst now = new Date().toISOString();\nconst dateStr = now.split('T')[0];\n\n// Extract key stats from capture output\nconst lines = output.split('\\n').filter(l => l.trim());\nconst summary = `Daily audit ${dateStr}: system state captured. ${lines.length} log lines.`;\n\nreturn [{ json: {\n  fields: {\n    source_type: 'audit',\n    source_reference: 'wf_audit_snapshot_daily',\n    workspace: 'vizion-infra',\n    severity: 'info',\n    summary: summary,\n    raw_content: output.slice(0, 2000),\n    status: 'unprocessed',\n    created_at: now\n  }\n}}];"
      },
      "id": "build-signal",
      "name": "Build Signal",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.airtable.com/v0/appVnA7GVfUVfvBM0/Signals",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Authorization", "value": "Bearer AIRTABLE_TOKEN_PLACEHOLDER"},
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"records\": [{ \"fields\": {{ $json.fields }} }] }",
        "options": {}
      },
      "id": "post-airtable",
      "name": "Post to Airtable",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [960, 300]
    }
  ],
  "connections": {
    "Daily 05:00":  {"main": [[{"node": "Capture State",   "type": "main", "index": 0}]]},
    "Capture State": {"main": [[{"node": "Build Signal",    "type": "main", "index": 0}]]},
    "Build Signal":  {"main": [[{"node": "Post to Airtable","type": "main", "index": 0}]]}
  },
  "active": false,
  "settings": {"executionOrder": "v1"},
  "staticData": null
}
