workflows/n8n/wf_docops_weekly.json
{
  "name": "wf_docops_weekly",
  "nodes": [
    {
      "parameters": {"rule": {"interval": [{"field": "cronExpression", "expression": "0 2 * * 0"}]}},
      "id": "cron",
      "name": "Weekly Sunday 02:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {"command": "cd /root/VizionAI/WORKSPACES/vizion-infra && ./scripts/docops_run.sh 2>&1"},
      "id": "exec",
      "name": "Run DocOps",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [480, 300]
    },
    {
      "parameters": {"jsCode": "const stdout = $input.first().json.stdout || '';\nconst success = stdout.includes('DocOps Cycle Complete');\nreturn [{ json: { success, output: stdout.slice(-1000) } }];"},
      "id": "check",
      "name": "Check Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 300]
    }
  ],
  "connections": {
    "Weekly Sunday 02:00": {"main": [[{"node": "Run DocOps", "type": "main", "index": 0}]]},
    "Run DocOps": {"main": [[{"node": "Check Result", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"}
}
